.alert-success{
    .btn-close{
        border: none;
        background: none;
        padding: 0;

        i{
            color: #1d643b;
        }
    }
}

.alert-danger{
    .btn-close{
        border: none;
        background: none;
        padding: 0;

        i{
            color: #761b18;
        }
    }
}

table.list{
    table-layout: fixed;
    th{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    td:first-of-type{
        white-space: nowrap;
    }
    tr td{
        vertical-align: middle;
    }
}

.card-header{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.1rem;
}

.categoryImg{
    max-height: 555px;
}

.productImg{
    max-width: 300px;
    width: 100%;
}

p.error-message{
    text-transform: lowercase;
    margin-bottom: 0;
    display: block;
    margin-bottom: 0;
    
    &::first-letter{
        text-transform: uppercase;
    }
}